.featured-categories{
    margin:100px 0;
    h2{
        font-size: 24px;
        text-transform: uppercase;
        border-bottom: 2px solid #ff375f;
        display: inline-block;
    }
}
.featured-categories-list{
    display: flex;
    flex-direction: row;
}