.featured-category{
   width: 280px;
   height: 180px;
   background: #ff375f;
   text-align: center;
   margin: 100px 15px 0;
   background: linear-gradient(57.88deg, #FF375F 0%, #FF6B6B 97.2%);
   box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(255, 55, 95, 0.08), 0px 16px 24px rgba(255, 55, 95, 0.1), 0px 24px 32px rgba(255, 55, 95, 0.14);
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   p{
      color:white;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 18px;
      &:after{
         content: '  >';
         font-weight: 100;
      }
   }
   i{
      font-size: 24px;
      color:white;
   }

}