.featured-store-card{
    width: 330px;
    height: 380px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.featured-store-card-img{
    height: 60%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 12px 12px 0 0;
}

.featured-store-card-info{
    height: 40%;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px;
    .featured-store-card-title{
        text-transform: uppercase;
        font-size: 22px;
        margin: 0px;
    }
    .featured-store-card-address{
        i{
            display: inline-block;
            color: #FF375F;
        }
        p{
            display: inline-block;
            margin: 0;
        }
    }

}

.featured-store-card-category-stars{
    display: flex;
    justify-content: space-between;
    .featured-store-card-category{
        text-transform: uppercase;
        font-size: 12px;
        padding: 1px 15px;
        border: 1px solid #FF375F;
        border-radius: 16px;
        color: #FF375F;
    }
}