// 01 - Variables Declaration

$default-padding: 15px;

// 02 - General styling

* {
	box-sizing: border-box;
}

.container {
	padding: 0 $default-padding;
}

.container-fluid {
	padding: 0 $default-padding;
	width: 100%;
}
