// 01 - Variables Declaration

$default-padding: 15px;

// 02 - General styling

* {
	box-sizing: border-box;
}

body{
	margin: auto;
}

.container {
	padding: 0 $default-padding!important;
	width: 1200px;
	margin-left:auto!important;
	margin-right: auto!important;
}

.container-fluid {
	padding: 0 $default-padding;
	width: 100%;
}
